<template>
    <div class="anidb-import">
        <h2>Anidb Import<b-spinner small v-if="isLoading"></b-spinner></h2>
        <b-form-file
                placeholder="Choose a file"
                drop-placeholder="Drop file here"
                @change="upload"
                :disabled="isLoading"
        ></b-form-file>
        <div v-if="isLoading">Loading...</div>
    </div>
</template>

<script>
  export default {
    name: 'AnidbImport',
    data () {
      return {
        name: '',
        isLoading: false
      }
    },
    methods: {
      upload (e) {
        const files = e.target.files || e.dataTransfer.files
        if (files.length > 0) {
          this.isLoading = true
          this.name = files[0].name
          this.$store.dispatch('import.anidb', files[0]).then(() => {
            this.isLoading = false
            e.target.value = ''
          })
        }
      }
    }
  }
</script>

<style scoped>
</style>
