<template>
    <div v-if="list.items.length > 0">
        <h2 @dblclick="startEdit">
            <span v-if="!isEditing">{{list.name}}'s List</span>
            <b-input @keyup.esc.prevent.stop="stopEdit"
                     @blur.prevent.stop="stopEdit"
                     @keyup.enter.prevent.stop="finishEdit"
                     title="edit list name" v-else v-focus v-model.trim="tempName"></b-input>
        </h2>
        <div class="mb-1">
            <b-button size="sm" class="mr-1" variant="info" @click="toggle">
                <span class="rotable" :class="{'is-open': isHidden}">▼</span>
            </b-button>
            <b-button size="sm" class="mr-1 remove" variant="danger" @click="remove">×</b-button>
        </div>
        <ul :class="{'is-hidden': isHidden}">
            <li v-for="anime in list.items" :key="anime.id">
                <a :href="anime.url" target="_blank">{{anime.name}}</a>
            </li>
        </ul>
    </div>
</template>

<script>
  import toastr from 'toastr'

  export default {
    name: 'AnimeList',
    props: {
      list: {type: Object, required: true},
    },
    directives: {
      focus: {
        inserted (el) {
          el.focus()
          el.setSelectionRange(0, el.value.length)
        }
      }
    },
    data () {
      return {
        tempName: '',
        isEditing: false,
        isHidden: true,
      }
    },
    methods: {
      toggle () {
        this.isHidden = !this.isHidden
      },
      remove () {
        this.$store.commit('removeList', this.list)
      },
      stopEdit () {
        this.tempName = ''
        this.isEditing = false
      },
      finishEdit () {
        if (!this.isEditing) {
          return
        }
        if (this.tempName.length < 24 && this.tempName.length > 2) {
          this.$store.commit('renameList', {
            list: this.list,
            name: this.tempName,
          })
          toastr.success('Successful change list name.')
          this.stopEdit()
        } else {
          toastr.warning('List name should be 2-24 characters long.')
          this.stopEdit()
        }

      },
      startEdit () {
        this.isEditing = true
        this.tempName = this.name
      },
    }
  }
</script>

<style scoped lang="scss">
    .toggable {
        cursor: pointer;
    }

    .rotable {
        display: block;
        transition: transform .3s;
    }

    .is-open {
        transform: rotate(-90deg);
    }

    .remove {
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 1;
    }

    .is-hidden {
        display: none;
    }
</style>
