<template>
    <div>
        <h2 class="title is-2">
            <a :href="anime.url" target="_blank">{{anime.name}}</a>
        </h2>
        <picture v-if="anime.image">
            <img class="img-thumbnail" alt="..." :src="anime.image">
        </picture>
        <div>Status: {{anime.status}}</div>
        <div>
            <a :href="anime.name | lyricsLink" target="_blank" class="btn btn-outline-secondary">
                Look for songs lyrics
            </a>
        </div>
    </div>
</template>

<script>
  export default {
    name: 'Anime',
    props: {anime: Object},
    filters: {
      lyricsLink (value) {
        return 'https://www.animesonglyrics.com/results?q=' + encodeURIComponent(value.replace(/\s/g, '+'))
      }
    },
  }
</script>

<style scoped>
</style>
