<template>
    <div>
        <h2>Kitsu Import</h2>
        <b-input-group class="mb-3">
            <b-form-input
                    v-model.trim="name"
                    placeholder="Your kitsu name"
                    aria-label="Your kitsu name"
                    @keyup.enter="upload"
            />
            <b-input-group-append>
                <b-button variant="outline-secondary"
                          @click="upload"
                          :disabled="isLoading">
                    <span v-if="!isLoading">Fetch</span>
                    <b-spinner small v-else></b-spinner>
                </b-button>
            </b-input-group-append>
        </b-input-group>
    </div>
</template>

<script>
  export default {
    name: 'KitsuImport',
    data () {
      return {
        name: '',
        isLoading: false
      }
    },
    methods: {
      upload (e) {
        if (this.name.length > 0) {
          this.isLoading = true
          this.$store.dispatch('import.kitsu', this.name).then(() => {
            this.isLoading = false
            e.target.value = ''
          })
        }
      }
    }
  }
</script>
