<template>
    <div v-if="list.items.length > 1" class="random-anime mb-3">
        <div class="mb-3">
            <button v-if="anime.length > 0" class="btn btn-outline-secondary btn-lg" @click="roll">
                Re-roll anime
            </button>
            <button v-else class="btn btn-outline-secondary btn-lg" @click="roll">Roll anime</button>
        </div>
        <h3>{{list.name}}</h3>
        <div v-for="(item, k) in anime" :key="k" class="row border-bottom mb-1 pb-1">
            <div class="col-md-12">
                <h5><a :href="item.url" target="_blank">{{item.name}}</a></h5>
            </div>
            <div class="col-md-12">
                <a :href="item.name | animeKaraoke" target="_blank">Karaoke moe</a><br>
            </div>
            <div class="col-md-6">
                <a :href="item.name | animeSongLyrics" target="_blank">AnimeSongLyrics</a><br>
            </div>
            <div class="col-md-6">
                <a :href="item.name | animeLyrics" target="_blank">AnimeLyrics</a><br>
            </div>
            <div class="col-md-6">
                <a :href="item.name | openingLink" target="_blank">Openings</a><br>
            </div>
            <div class="col-md-6">
                <a :href="item.name | endingLink" target="_blank">Endings</a><br>
            </div>
        </div>
        <b-button v-if="anime.length > 0" @click="copy">Copy</b-button>
    </div>
</template>

<script>
  import toastr from 'toastr'

  const animeSongLyrics = value => {
    return 'https://www.animesonglyrics.com/results?q=' + encodeURIComponent(value.replace(/\s/g, '+'))
  }
  const animeLyrics = value => {
    return 'https://cse.google.com/cse?cx=partner-pub-9427451883938449%3Agd93bg-c1sx&q=' + encodeURIComponent(value)
  }

  const animeKaraoke = value => {
    return 'https://kara.moe/base/search/' + encodeURIComponent(value)
  }

  const openingLink = value => {
    return 'https://www.youtube.com/results?search_query=opening+' + encodeURIComponent(value)
  }

  const endingLink = value => {
    return 'https://www.youtube.com/results?search_query=ending+' + encodeURIComponent(value)
  }

  export default {
    name: 'RandomAnime',
    props: {
      list: {type: Object, required: true},
    },
    data () {
      return {
        anime: [],
      }
    },
    computed: {
      text () {
        let output = ''
        for (const anime of this.anime) {
          output += `${anime.name} <${anime.url}>\r\n karaoke: <${animeKaraoke(anime.name)}>\r\nlyrics: <${animeSongLyrics(anime.name)}>\r\nyt opening: <${openingLink(anime.name)}>\r\nyt ending: <${endingLink(anime.name)}>\r\n\r\n`
        }
        return output
      },
    },
    filters: {
      animeSongLyrics: value => animeSongLyrics(value),
      animeLyrics: value => animeLyrics(value),
      openingLink: value => openingLink(value),
      endingLink: value => endingLink(value),
      animeKaraoke: value => animeKaraoke(value),
    },
    methods: {
      copy () {
        this.$copyText(this.text).then(() => toastr.success('Copied'), () => toastr.error('Can not copy'))
      },
      roll () {
        this.anime = []
        for (let i = 0; i < 3; i++) {
          this.anime.push(this.list.items[Math.floor(Math.random() * this.list.items.length)])
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
    .random-anime {
        text-align: center;
    }
</style>
