<template>
    <div id="app">
        <section class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <MalApiImport/>
                </div>
                <div class="col-lg-3 col-md-6">
                    <AnidbImport/>
                </div>
                <div class="col-lg-3 col-md-6">
                    <AniListImport/>
                </div>
                <div class="col-lg-3 col-md-6">
                    <KitsuImport/>
                </div>
            </div>
        </section>
        <section class="container">
            <div class="row">
                <RandomAnime class="col-lg-4" v-for="list in lists" :list="list" :key="list.id"/>
            </div>
        </section>
        <section class="container">
            <div class="row">
                <AnimeList class="mb-3 col-lg-4" v-for="list in lists" :list="list" :key="list.id"/>
            </div>
        </section>
    </div>
</template>

<script>
  import MalApiImport from '@/components/MalApiImport'
  import { mapState } from 'vuex'
  import AnidbImport from './components/AnidbImport'
  import AniListImport from './components/AniListImport'
  import AnimeList from './components/AnimeList'
  import KitsuImport from './components/KitsuImport'
  import RandomAnime from './components/RandomAnime'

  export default {
    name: 'App',
    components: {MalApiImport, KitsuImport, RandomAnime, AniListImport, AnimeList, AnidbImport},
    computed: mapState(['lists']),
  }
</script>

<style lang="scss">
    @import '~bootstrap';
    @import '~bootstrap-vue';
    @import "~toastr";
</style>
